.config
.vs
data
/.sonarlint/*.slconfig
/.sonarlint/*.apicsharp.ruleset
/.sonarlint/*/CSharp/SonarLint.xml
/.scannerwork
/*.csv

obj
bin
.env
.vscode
*.zip
appsettings.test*
AirDrop*
README.*.md
*.user
